@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    background-image: url('../assetes/images/bg-homePage.png');
    background-repeat: repeat-y;
    width: 100%;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}


.Card-box {
    -webkit-flex-direction: row; 
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 330px;
    height: 400px;
    background: #FFFDFD;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-sizing: border-box;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.Img-card {
    width: 300px;
    height: 180px;
    object-fit: contain;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #3DF839;
}

.nome-do-produto {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: #464141;
}
